body {
  font-style: italic;
}

ol,
li {
  color: blue;
  background-color: chartreuse;
}

div > h1 {
  color: red;
}
#inicio {
  font: oblique bold 250% cursive;
}
h1 + h2 {
  color: rgb(11, 7, 221);
}

div ~ h3 {
  font-style: oblique;
  color: rgb(255, 43, 184);
}
p.destacado {
  color: green;
  font-style: normal;
  font-size: 18px;
}
p .destacado {
  color: red;
}
ul li {
  color: black !important;
}
.link {
  color: brown;
}
.link:hover {
  color: chartreuse;
  font-size: 16px;
}
.link:visited {
  color: darkblue;
}
.link:active {
  color: darkorange;
}
